.tabs-animated .nav-link::before{
    transform:scale(0);
    opacity:1;
    width:100%;
    left:0;
    bottom:-2px;
    content:"";
    position:absolute;
    display:block;
    border-radius:.25rem;
    background:#115087;
    transition:all .2s;
    height:4px
}
.tabs-animated .nav-link.active::before,.tabs-animated .nav-link:hover::before{
    transform:scale(1)
}
.tabs-animated-shadow .nav-link{
    padding:.5rem .75rem;
    margin-bottom:.75rem
}
.tabs-animated-shadow .nav-link span{
    position:relative;
    z-index:5;
    display:inline-block;
    width:100%
}
.tabs-animated-shadow .nav-link::before{
    height:100%;
    top:0;
    z-index:4;
    bottom:auto;
    box-shadow:0 16px 26px -10px rgba(63,106,216,0.56),0 4px 25px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(63,106,216,0.2);
    border-radius:100%;
    opacity:.5
}
.tabs-animated-shadow .nav-link.active,.tabs-animated-shadow .nav-link:hover{
    color:#fff;
    /* background: green; */
}
.tabs-animated-shadow .nav-link.active::before,.tabs-animated-shadow .nav-link:hover::before{
    border-radius:.25rem;
    opacity:1
}

html{
    font-family:'Poppins', sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
body{
    margin:0;
    font-family:'Poppins', sans-serif;
    /* font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    font-size:14px;
    font-weight:400;
    line-height:1.0;
    color:#000;
    text-align:left;
    background-color:#fff
}